<header>
  <!-- <a class="logo" href="/"><img src="images/logo.svg" alt="logo"></a> -->
  <nav>
    <ul class="nav__links">
      <li><a routerLink="/index">Strona Głowna</a></li>
      <li><a routerLink="/calendar">Kalendarz</a></li>
      <li><a routerLink="/login">log in / logout</a></li>
      <li class="profile"><a href="#"><img src="cos tu bedzie xd"/></a></li>
    </ul>
  </nav>
  <!-- <a class="cta" href="#">Contact</a> -->
  <p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
  <a class="close">&times;</a>
  <div class="overlay__content">
    <li><a href="#"><img src="tu bedzie jakies zdj oznaczajace profil xd"/></a></li>
    <li><a routerLink="/index">Strona Główna</a></li>
    <li><a routerLink="/calendar">Kalendarz</a></li>
    <li><a routerLink="/login">Log in / logout</a></li>
  </div>
</div>
<div>

  <router-outlet></router-outlet>